html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 12px;
}
canvas{
    display: block;
    position: absolute;
    z-index: 0;
}

p {
    padding-left: 10px;
    margin-bottom: 0;
    margin-top: 5px;
}

select {
    margin: 5px 10px;
}

#clearBalls {
    margin: 8px;
}

div.outer {
    position: absolute;
    height: auto;
    background: whitesmoke;
    border: salmon 2px solid;
    display: flex;
    flex-direction: column;
    z-index: 1;
    opacity: 0.3;
    animation: mouseNotOver 0.2s;
    animation-fill-mode: forwards;
    max-width: 140px;
}

div.outer:hover {
    animation: mouseOver 0.2s;
    animation-fill-mode: forwards;
}

@keyframes mouseOver {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
@keyframes mouseNotOver {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
}

.slider {
    margin: 10px;
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-horizontal {
    transform: rotate(0deg);
    position: absolute;
}

.slider-vertical {
    transform: rotate(90deg);
    position: absolute;
}

#balls {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 1;
    font-size: 2em;
}

#resetGrav {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
    width: 50px;
}

#resetVel {
    position: absolute;
    bottom: 160px;
    right: 5px;
    z-index: 1;
    width: 50px;
}

.btn {
    width: 130px;
}

.message {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
    color: #d4ff5a;
    text-shadow: 0 1px 2px black, 0 1px 2px black, 0 1px 2px black, 0 1px 2px black;
    pointer-events: none;
    user-select: none;
    animation: fadeOut 10s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}